
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');

:root{
    --primary-color: #EC255A;
}
body{
    background-color: aquamarine;
}
h1{
    color: var(--primary-color);
}
.container{
    font-family: 'Open Sans', sans-serif;
    display: flex;
    flex-direction: column;
    width: 50vw;
    text-align: center;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    /* border: 4px solid #EC255A; */
}

input{
    margin:0.5rem 0rem;
    border-radius: 1rem;
    border: 2px solid var(--primary-color);
    padding: 0.5rem;
}

button{
    margin: 1rem 0rem;
    border-radius: 1rem;
    width: 100px;
    margin: auto;
    text-align: center;
    border: 2px solid var(--primary-color);
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
}

table {
    display: table;
    text-align: center;
    margin: 0px;
    border-collapse: collapse;
    border-style: hidden;
    border-radius: 1rem;
    border: 2px solid #EC255A;
    box-sizing: border-box;
}

table td {
    padding: 0.5rem;
    border: 2px solid var(--primary-color);
}
table th {
    padding: 0.5rem;
    border: 2px solid ForestGreen;
}




.footer{
    padding: 2rem 1rem;
    color: var(--primary-color);
    text-align: center;
    border-bottom-right-radius: 1rem;
    margin-top: 5rem;
}
.footer .link{
    color: var(--primary-color);
}

.footer ul{
    padding-inline-start: 0px;
}

.footer .footer-header{
    font-weight: bold;
    font-size: large;
}

.list-non-bullet{
    list-style: none;
}

.list-item-inline{
    display: inline;
    padding: 0rem 0.5rem;
}